
/* Colores principales 

    - Overcast White:   #F1F1F2
    - Warm Gray:        #BCBABE
    - Ice:              #A1D6E2
    - Glacier Blue:     #1995AD

    - Grey: #848287

*/

#window {
    -fx-border-color: #848287;
    -fx-border-width: 1px;
}

#menu {
    -fx-background-color: #1995AD;
}

.overcast-background {
    -fx-background-color: #F1F1F2;
}

.top-drag-bar {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #848287;
}

.top-header-background {
    -fx-background-color: #FFFFFF;
}

/* BOXES */
.dashboard-element {
    -fx-background-color: #6ebcce;
}

.dashboard-element:hover {
    -fx-background-color: #1995AD;
}

.dashboard-element:pressed {
    -fx-background-color: #0f8197;
}

.receta-adapter {
    -fx-background-color: #FFFFFF;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.receta-adapter:hover {
    -fx-background-color: #e7e7e7;
}

.receta-adapter:pressed {
    -fx-background-color: #d6d6d6;
}

.receta-adapter-selected {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #1994ad81;
    -fx-border-width: 2px;
    -fx-border-insets: 0 0 0 0;
    -fx-border-color: #1994ad81 #1994ad81 #1994ad81 #1994ad81 ; 
    -fx-border-style: segments(15, 15, 15, 15)  line-cap round ;
}

.receta-adapter-selected:hover {
    -fx-background-color: #e7e7e7;
    -fx-border-color: #1994ad81;
    -fx-border-width: 2px;
}

.scroll-bar {
    -fx-focus-color: transparent;
    -fx-border-width: 0px;
    -fx-border-color: transparent;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.warning-box {
    -fx-background-color: #faec9e;
    -fx-border-color: #f1d21f;
    -fx-border-width: 2px;
}

/* BUTTONS */
.window-control-button-red {
    -fx-background-radius: 0;
    -fx-background-color: #e24040;
    -fx-text-fill: white;
}

.window-control-button-red:hover {
    -fx-background-radius: 0;
    -fx-background-color: #cc3333;
}

.window-control-button-red:pressed {
    -fx-background-radius: 0;
    -fx-background-color: #bd2727;
}

.window-control-button-white {
    -fx-background-radius: 0;
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #848287;
}

.window-control-button-white:hover {
    -fx-background-color: #e7e7e7;
    -fx-text-fill: #848287;
}

.window-control-button-white:pressed {
    -fx-background-color: #d6d6d6;
    -fx-text-fill: #848287;
}

.button-overcast {
    -fx-background-color: #F1F1F2;
    -fx-text-fill: #848287;
}

.button-overcast:hover {
    -fx-background-color: #e7e7e7;
}

.button-overcast:pressed {
    -fx-background-color: #d6d6d6;
}

.button-link {
    -fx-background-color: transparent;
    -fx-text-fill: #BCBABE;
}

.button-link:hover {
    -fx-text-fill:#A1D6E2;
}

.button-link:pressed {
    -fx-text-fill: #1995AD;
}

.button-arctic {
    -fx-background-color: #1995AD;
    -fx-text-fill: #A1D6E2;
}

.button-arctic:hover {
    -fx-background-color: #1289a1;
}

.button-arctic:pressed {
    -fx-background-color: #0f8197;
    -fx-text-fill: #A1D6E2;
}

.tab-pane {
   -fx-tab-min-height: 4em;
   -fx-tab-max-height: 4em;
   -fx-tab-min-width: 15em;
   -fx-tab-max-width: 15em;
   -fx-padding: 0 -1 -1 0
}

.tab-pane:left *.tab-header-area
{
    -fx-background-insets: 0, 0 0 10;
    -fx-padding: 0.0em 0.0em 0.0em 0.0em;   
}

.tab{
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0 0 3 0;
    -fx-padding: 0 10 0 10;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:hover {
    -fx-background-color: #effbfd;
    -fx-border-color: #effbfd;
}

.tab:selected
{
    -fx-background-color: #effbfd;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-width: 0 0 3 0;
    -fx-border-color: #0f8197;
   
}

.tab-header-background {
    -fx-background-color: #F1F1F2;
}

.toggle-button {
    base-color: #f3a89b;
    -fx-background-color: base-color;
}

.toggle-button:selected {
    base-color: #97e68a;
}

.toggle-button:hover {
    -fx-background-color: derive(base-color, -20%);
}

/* FIELDS */
.text-field-overcast {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #1995AD;
    -fx-border-color: #A1D6E2;
    -fx-focus-color: #1995AD;
    -fx-background-insets: 0;
    -fx-padding: 5 10 5 10;
}

/* CHARTS */
.chart-bar {
    -fx-bar-fill: #1995AD; 
}

/* TABLE */
.table-view{
    -fx-background-color: transparent;
 }
 
 .table-view:focused{
     -fx-background-color: transparent;
 }
 .tab {
    -fx-padding: 0 0 0 0;
 }
 /* Spaltenköpfe
     Struktur column-header-background -> column-header */
 
 .table-view .column-header-background{
     -fx-background-color: linear-gradient(#FFFFFF 0%, #effbfd 100%);
 }
 
 .table-view .column-header-background .label{
     -fx-background-color: transparent;
     -fx-text-fill: #1995AD;
 }
 
 .table-view .column-header {
     -fx-background-color: transparent;
 }
 
 .table-view .table-cell{
     -fx-text-fill: #494949;
 }
 
 .table-row-cell{
     -fx-background-color: -fx-table-cell-border-color, #FFFFFF;
     -fx-background-insets: 0, 0 0 1 0;
     -fx-padding: 0;
     -fx-cell-size: 40px;
 }
 
 .table-row-cell:odd{
     -fx-background-color: -fx-table-cell-border-color, #effbfd;
     -fx-background-insets: 0, 0 0 1 0;
     -fx-padding: 0;  
 }


 .table-row-cell:filled:selected:focused {
     -fx-text-fill: white;
     -fx-background-color: #1995AD;
     -fx-background-insets: 0;
     -fx-background-radius: 1;
 }
 
 .table-view > .virtual-flow > .scroll-bar:vertical,
 .table-view > .virtual-flow > .scroll-bar:vertical > .track,
 .table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
 .table-view > .virtual-flow > .scroll-bar:horizontal,
 .table-view > .virtual-flow > .scroll-bar:horizontal > .track,
 .table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
     -fx-background-color: transparent;
 }
 
 
 
 .table-view > .virtual-flow > .scroll-bar > .increment-button, 
 .table-view > .virtual-flow > .scroll-bar > .decrement-button {
     -fx-opacity: 0;
 }

 /* LIST VIEW */
 .list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
 }

 .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#35b3cc 0%, #2eacc5 25%, #22a0b9 75%, #1995AD 100%);
    -fx-text-fill: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #38b9d3;
    -fx-text-fill: white;
}